body {
  background-color: #46537f;
  margin: 0;
}

.play_container {
  margin: 20px auto;
  background: #2f304e;
  width: 22rem;
  height: 44rem;
  border-radius: 50px;
  box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
