.album__container-img img {
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.scroll-list {
  overflow-y: auto;
  height: 550px;
  display: flex;
  flex-direction: column;
}
.scroll-list::-webkit-scrollbar {
  width: 7px;
  background: #30314d;
}
