.content_navbar {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.scroll-list {
  overflow-y: auto;
  height: 550px;
  display: flex;
  flex-direction: column;
}
.scroll-list::-webkit-scrollbar {
  width: 7px;
  background: #30314d;
}
