.link:hover {
  text-decoration: none;
}
/* -------------------------------------- */
.list__container-img {
  display: flex;
  padding-left: 15px;
}
.list__container-img img {
  border-radius: 50%;
  height: 55px;
  display: flex;
  align-self: center;
}
